
<% @page_tittle = "Delete Professional" %>

<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>

<div class="professionals delete">
	<h2> Delete Professional </h2>


<%= form_for(:professional, :url => {:action => 'destroy', :id => @professional.id}) do |f| %>


	<p> Are you sure you want to permanently delete this professional? </p>
	
	 <p class="reference-name"><%= @professional.first_name %></p>



<div class="form_buttons">
	<%= submit_tag("Delete Professional") %>

</div>

<% end %>

</div>