<!--  The partial form is denoted by the underscore symbol(_) before the name of the form -->

<% @page_tittle = "Update" %>

<%= link_to('<< All Professionals', professionals_path) %> <!-- RESTful link -->

<div class="professionals edit"> 
	<h2>  Update Professional </h2>



	<%= form_for(@professional) do |f| %>

			<%= render(:partial => "form", :locals =>{:f =>f}) %>


			<div class="form_buttons">

		       <%= submit_tag("Update Professional") %>

			</div>

	<% end %>

</div>